<div class="statsContainer">
  <div class="statsTitle">
    <span>STATS</span>
  </div>
  <form [formGroup]="form" class="statsForm">
    <ion-item class="statsInput">
      <ion-input type="number" formControlName="strength" min="1" max="30" placeholder="Strength" required></ion-input>
    </ion-item>
    <ion-item class="statsInput">
      <ion-input type="number" formControlName="dexterity" min="1" max="30" placeholder="Dexterity" required></ion-input>
    </ion-item>
    <ion-item class="statsInput">
      <ion-input type="number" formControlName="constitution" min="1" max="30" placeholder="Constitution" required></ion-input>
    </ion-item>
    <ion-item class="statsInput">
      <ion-input type="number" formControlName="intelligence" min="1" max="30" placeholder="Intelligence" required></ion-input>
    </ion-item>
    <ion-item class="statsInput">
      <ion-input type="number" formControlName="wisdom" min="1" max="30" placeholder="Wisdom" required></ion-input>
    </ion-item>
    <ion-item class="statsInput">
      <ion-input type="number" formControlName="charisma" min="1" max="30" placeholder="Charisma" required></ion-input>
    </ion-item>
    <ion-input type="hidden" formControlName="information_id"></ion-input>
  </form>
  <button class="statsSave" type="submit" [disabled]="form.invalid" (click)="saveStats()">Save Stats</button>
</div>
