<div class="homePageContainer">
  <div class="homeTitle">
    <span>YOUR CHARACTERS</span>
  </div>
  <div class="homeContent">
    <div class="characterList">
      <div *ngFor="let i of informations" class="characterItem">
        <div class="characterContainer">
          <div class="characterInfoContainer">
            <h1>{{ i.name }}</h1>
            <p>{{ i.race }}</p>
            <p>{{ i.charClass }}</p>
          </div>
          <button class="editButton" (click)="editCharacter(i.id)">Edit Character</button>
          <button class="editButton" (click)="editStats(i.id)">Edit Stats</button>
          <button class="deleteButton" (click)="deleteCharacter(i.id)">Delete Character</button>
        </div>
      </div>
    </div>

    <button class="createButton" (click)="createCharacter()">Create Character</button>
  </div>
</div>
