<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Your Characters
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">CharCRUD</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item *ngFor="let i of informations">
      <ion-label>
        <h1>{{i.name}}</h1>
        <p>{{i.race}}</p>
        <p>{{i.charClass}}</p>
        <ion-button (click)="deleteCharacter(i.id)">Delete Character</ion-button>
      </ion-label>
    </ion-item>
  </ion-list>

  <div id="container">
    <ion-button expand="block" (click)="createCharacter()">Create Character</ion-button>
  </div>
</ion-content>
