.homePageContainer{
  height: 100vh;
  background-color: #A6A6A6;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homeTitle{
  margin-top: 2em;
  color: black;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  width: 15em;
  display: flex;
  justify-content: center;
  padding: 1em;
}

.homeTitle span{
  font-size: 20px;
  font-weight: 700;
}

.homeContent{
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: center;
  margin-top: 1em;
}

.characterList{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2em;
}

.characterItem{
  border-radius: 20px;
  background-color: #515151;
  padding: 10px;
}

.characterContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.editButton{
  height: 3em;
  width: 8em;
  border: 1px solid black;
  border-radius: 20px;
  background-color: #D82596;
  transition: all 0.5s;
}

.editButton:hover{
  background-color: #515151;
}

.deleteButton{
  height: 3em;
  width: 9em;
  border: 1px solid black;
  border-radius: 20px;
  background-color: #A6A6A6;
  transition: all 0.5s;
}

.deleteButton:hover{
  background-color: brown;
}

.createButton{
  width: 50vw;
  height: 2em;
  border: 1px solid black;
  border-radius: 20px;
  background-color: #D82596;
  font-size: 24px;
  transition: all 0.5s;
}

.createButton:hover{
  background-color: #515151;
}
