<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>charcc-informations</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">charcc-informations</ion-title>
    </ion-toolbar>
  </ion-header>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <ion-grid >
      <ion-item>
        <ion-input type="text" formControlName="name" placeholder="Name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="number" formControlName="age" placeholder="Age"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="number" formControlName="level" placeholder="Level"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" formControlName="charClass" placeholder="Class"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" formControlName="race" placeholder="Race"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" formControlName="factions" placeholder="Factions"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" formControlName="traits" placeholder="Traits"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" formControlName="ideals" placeholder="Ideals"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" formControlName="flaws" placeholder="Flaws"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" formControlName="bonds" placeholder="Bonds"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" formControlName="backstory" placeholder="Backstory"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="hidden" formControlName="character_id" placeholder="Character Id"></ion-input>
      </ion-item>
    </ion-grid>
    <ion-button expand="block" type="submit">Save</ion-button>
  </form>
</ion-content>
